@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate(0,100%);
        transform: translate(0,100%)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate(0,100%);
        transform: translate(0,100%)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
.content .fadeInUp{
	-webkit-animation: fadeInUp 1s;
	animation-play-state: paused;
}
.content .move{
	animation-play-state: running;
}
.content .mproject .pro_item ul li:nth-child(2){
	-webkit-animation: fadeInUp 1.3s;
	animation-play-state: paused;
}
.content .mproject .pro_item ul li:nth-child(3){
	-webkit-animation: fadeInUp 1.6s;
	animation-play-state: paused;
}
.content .mproject .pro_item ul li:nth-child(4){
	-webkit-animation: fadeInUp 2s;
	animation-play-state: paused;
}
.content .mproject .pro_item ul li.move{
	animation-play-state: running;
}

.content .mservice .serlist ul li:nth-child(2){
	-webkit-animation: fadeInUp 1.5s;
	animation-play-state: paused;
}
.content .mservice .serlist ul li:nth-child(3){
	-webkit-animation: fadeInUp 2s;
	animation-play-state: paused;
}
.content .mservice .serlist ul li.move{
	animation-play-state: running;
}

.content .mpage .page_about .box div:nth-child(1){
	-webkit-animation: fadeInUp 1.5s;	
	animation-play-state: paused;
}
.content .mpage .page_about .box div:nth-child(2){
	-webkit-animation: fadeInUp 2s;
	animation-play-state: paused;
}
.content .mpage .page_about .box div:nth-child(3){
	-webkit-animation: fadeInUp 2.5s;
	animation-play-state: paused;
}
.content .mpage .page_about .box div.move{
	animation-play-state: running;
}

.content .mnews .new_list .list:nth-child(1){
	-webkit-animation: fadeInUp 1s;	
	animation-play-state: paused;
}
.content .mnews .new_list .list:nth-child(2){
	-webkit-animation: fadeInUp 1.5s;	
	animation-play-state: paused;
}
.content .mnews .new_list .list.move{
	animation-play-state: running;
}
.footer .fadeInUp{
	-webkit-animation: fadeInUp 1s;
	animation-play-state: paused;
}
.footer .move{
	animation-play-state: running;
}

/*////////////////////////////////////////////*/
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.footer .fadeInLeft{
	-webkit-animation: fadeInLeft 2s;
	animation-play-state: paused;
}
.footer .foot_right.move{
	animation-play-state: running;
}