@charset "utf-8";
.clearfix:after{
	display: block;
	content: "";
	clear: both;
}
.relative{
	position: relative;
}
/*header*/
.header{
	width: 100%;
	padding-top: 10px;
	font-size: 14px;
	transition: all ease .3s;
	text-align: center;
	position: fixed;
	z-index: 99;
	background-color: #fff;
}
/*logo*/
.header .logo{
	width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: block;
    transform:scaleY(1); 
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.header .logo img{
    height: 40px;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transform: scale(1, 1);
}
/*logo隐藏*/
.header.mini{
    background-color: rgba(255, 255, 255, 1);
    padding-top: 0;   
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.header.mini .logo{
	height: 10px;
}
.header.mini img{
	transform: scale(0.8, 0);
    -moz-transform: scale(0.8, 0);
    -webkit-transform: scale(0.8, 0);
    -o-transform: scale(0.8, 0);
}
.header.mini .leader{
	margin-top: -25px;
}
/*leader*/
.header .leader{
    margin: 0 auto;	
    display: inline-block;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.header .leader li.fl{	
	padding: 8px 26px;
    line-height: 40px;
    height: 40px;
}
/*字体缓动变色*/
.header .leader li a{
	transition: all 0.4s ease-out 0s;
}
.header .leader li .active,.header .leader li:hover .a{
	color: #b59f66;
}
.header .leader li .a::after,.header .leader li .a::before{
	content: '';
	display: block;
	height: 1px;
	width: 10%;
	background: transparent;/*背景透明*/
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.header .leader li .active::after,.header .leader li .active::before{
	width: 60%;
    background: #b59f66;
}
.header .leader li:hover .a::after,.header .leader li:hover .a::before{
	width: 100%;
    background: #b59f66;
}
/*品牌故事下拉菜单*/
.header .leader li.relative .txt{
	top: 56px;
    right: -32.5px;
    position: absolute;
    width: 192px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .1);
    transition: all 0.3s ease-out 0s;
    display: none;
}
.header .leader li.relative .txt a{
	width: 100%;
	display: block;
	color: #666;
	border-bottom: 1px solid rgba(0, 0, 0, .08);
	font-size: 12px;
}
.header .leader li.relative .txt a:hover{
	background-color: #f5f5f5;
	color: #000000;
}
.header .leader li.relative:hover .txt{
	display: block;
}
.banner{
	padding-top: 140px;
	height: 260px;
	position: relative;
}
.banner div{
	height: 260px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
}
.footer{
	margin-top: 50px;
}
.footer .bot_line{
	width: 100%;
	background: #fff;
    border-top: 1px solid rgba(53, 53, 53, 0.1);
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 12px;
    color: #8e8e8e;
}
/*手机框弹出*/
.phone{
	position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 100;
    display: none;
}
.phone .phone_con{
	width: 258px;
    height: 298px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -129px;
    margin-top: -149px;
}
.phone .phone_con p{
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    color: #000;
}
/*悬浮栏*/
.suspend{
	height: 120px;
    position: fixed;
    right: 10px;
    bottom: 40px;
    z-index: 99;
}
.suspend a{
	text-align: center;
	line-height: 40px;
	display: block;
    width: 38px;
    height: 39px;    
	background-color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom: none;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.suspend a:last-child{
	background-color: rgba(0,0,0,.6);
	color: #fff;
}
.suspend a i{
	font-size: 21px;
}
.suspend a:last-child i{
	font-size: 16px;
}
.suspend a:hover{
	background-color: #555;
	color: #fff;
}
.suspend a:hover:last-child{
	background: rgba(0, 0, 0, .9)
}