@charset "utf-8";
.clearfix:after{
	display: block;
	content: "";
	clear: both;
}
.relative{
	position: relative;
}
/*header*/
.header{
	width: 100%;
	padding-top: 10px;
	font-size: 14px;
	transition: all ease .3s;
	text-align: center;
	position: fixed;
	z-index: 99;
	background-color: #fff;
}
/*logo*/
.header .logo{
	width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: block;
    transform:scaleY(1); 
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.header .logo img{
    height: 40px;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transform: scale(1, 1);
}
/*logo隐藏*/
.header.mini{
    background-color: rgba(255, 255, 255, 1);
    padding-top: 0;   
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.header.mini .logo{
	height: 10px;
}
.header.mini img{
	transform: scale(0.8, 0);
    -moz-transform: scale(0.8, 0);
    -webkit-transform: scale(0.8, 0);
    -o-transform: scale(0.8, 0);
}
.header.mini .leader{
	margin-top: -25px;
}
/*leader*/
.header .leader{
    margin: 0 auto;	
    display: inline-block;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.header .leader li.fl{	
	padding: 8px 26px;
    line-height: 40px;
    height: 40px;
}
/*字体缓动变色*/
.header .leader li a{
	transition: all 0.4s ease-out 0s;
}
.header .leader li .active,.header .leader li:hover .a{
	color: #b59f66;
}
.header .leader li .a::after,.header .leader li .a::before{
	content: '';
	display: block;
	height: 1px;
	width: 10%;
	background: transparent;/*背景透明*/
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.header .leader li .active::after,.header .leader li .active::before{
	width: 60%;
    background: #b59f66;
}
.header .leader li:hover .a::after,.header .leader li:hover .a::before{
	width: 100%;
    background: #b59f66;
}
/*品牌故事下拉菜单*/
.header .leader li.relative .txt{
	top: 56px;
    right: -32.5px;
    position: absolute;
    width: 192px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .1);
    transition: all 0.3s ease-out 0s;
    display: none;
}
.header .leader li.relative .txt a{
	width: 100%;
	display: block;
	color: #666;
	border-bottom: 1px solid rgba(0, 0, 0, .08);
	font-size: 12px;
}
.header .leader li.relative .txt a:hover{
	background-color: #f5f5f5;
	color: #000000;
}
.header .leader li.relative:hover .txt{
	display: block;
}
/*banner*/
.banner .zindex{
	z-index: 1;
	transition: all 0.4s ease-out 0s;
}
.banner {
	width: 100%;
	height: 650px;
	padding-top: 130px;
	overflow: hidden;
}
.banner ul li {
	position: absolute;
	top: 130px;
	left: -200px;
	transition: all 0.4s ease-out 0s;
}
.banner ul li img{
	height: 650px;
}
.banner .lead {
	position: absolute;
    top: 60%;
	width: 40px;
    height: 40px;
	z-index: 10;
	transition: all ease-out .3s;
	cursor: pointer;
	display: none;
	background: rgba(0,0,0,0.1);
	color: #fff;
	font-size: 40px;
	line-height: 34px;
	text-align: center;
}
.banner .lead:hover{
	background-color: #b9ab77;
}
.banner .left{
	left: 20px;
}
.banner .right{
	right: 20px;
}
.banner .bot_line {
	position: absolute;
	z-index: 1;
	bottom: 10px;
	padding: 4px 3px 3px 3px;
	border-radius: 12px;
	background-color: rgba(0,0,0,0.2);
}
.banner .dot {
	margin: 0 5px;
	width: 11px;
	height: 11px;
	border-radius: 100%;
	background-color: #fff;
	display: inline-block;
	transition: all 0.4s ease-out 0s;
}
/*content*/
.content .mproject{
	padding-bottom: 80px;
}
.content .mproject .title{
    padding-top: 80px;
    padding-bottom: 40px;
}
.content .mproject .title p{
	text-align: center;
}
.content .mproject .title .p1{
	color: #444;
    font-size: 26px; 
}
.content .mproject .title .p2{
	font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
	color: #c1c1c1;
    font-size: 16px;
}
.content .mproject .category{
	display: block;
    padding-bottom: 40px;
    text-align: center;
}
.content .mproject .category a{
	font-size: 14px;
    padding: 10px 28px;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    line-height: 16px;
    height: 16px;
    color: #616161;
    display: inline-block;
}
.content .mproject .category a::before{
	content: '';
    position: absolute;
    width: 1px;
    height: 12px;
    margin-left: -32px;
    margin-top: 2px;
    background: rgba(0, 0, 0, .2);
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.content .mproject .category a:nth-child(1)::before{
	background: transparent;
}
.content .mproject .category a:hover{
	background: #b9ab77;
    color: #fff;
}
.content .mproject .category a:hover::before {
    background: transparent;
}
.content .mproject .pro_item{
	width: 1224px;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
}
.content .mproject .pro_item ul{
	width: 1232px;
}
.content .mproject .pro_item li{
	width: 300px;
	overflow: hidden;
	margin: 0 auto;
	margin-right: 8px;
}
.content .mproject .pro_item li a img{
	width: 100%;
	height: auto;
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.content .mproject .pro_item li a:hover img{
	transform: scale(1.2, 1.2);
}
.content .mproject .pro_info{
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all ease-out .3s;
    opacity: 0;
}
.content .mproject .pro_info div{
	width: 96%;
	height: 98%;
	margin: auto;
	border: 1px solid #fff;
}
.content .mproject .pro_info p{
	text-align: center;
    transform: scale(1.4, 1.4);
    color: #fff;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.content .mproject .pro_info .title{
    padding: 46% 50px 0;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content .mproject .pro_info .subtitle{
    margin-top: 8px;
    height: 20px;
    line-height: 20px;
}
.content .mproject .pro_info .description{
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}
.content .mproject .pro_info .box{
	width: 160px;
	margin: 0 auto;
    height: 37px;
    border: 1px solid rgba(255, 255, 255, .5);;
    font-size: 32px;
    line-height: 30px;
    font-weight: lighter;
    margin-top: 15%;
}
.content .mproject a:hover .pro_info{
	opacity: 1;
}
.content .mproject a:hover .pro_info p,
.content .mproject a:hover .pro_info .box{
	transform: scale(1, 1);
}
.content .bot_lead{
	width: 100%;
	
}
.content .bot_lead a{
	display: block;
	width: 150px;
    height: 45px;
    margin: 50px auto 0;
    animation-delay: 0.5s;
}
.content .bot_lead a::before{
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .4);
    -webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
    display: block;
}
.content .bot_lead a::after{
	content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: transform 0.5s, background-color 0.5s;
    transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
    background-color: rgba(0, 0, 0, .6);
    opacity: 1;
}
.content .bot_lead a i{
	width: 34px;
    height: 14px;
    display: block;
    background: url(../img/icon01.png) no-repeat 0 -22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -17px;
    z-index: 3
}
.content .bot_lead a:hover{
	background: transparent;
	-webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.content .bot_lead a:hover::before{
	opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.content .bot_lead a:hover::after{
	webkit-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
    opacity: 0;
}
.content .bot_lead a:hover i{
	background: url(../img/icon01.png) no-repeat 0 -38px;
}
/*.mservice*/
.content .mservice{
	padding-bottom: 80px;
}
.content .mservice .title{
    padding-top: 80px;
    padding-bottom: 40px;
}
.content .mservice .title p{
	text-align: center;
}
.content .mservice .title .p1{
	color: #444;
    font-size: 26px; 
}
.content .mservice .title .p2{
	font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
	color: #c1c1c1;
    font-size: 16px;
}
.content .mservice .serlist{
	height: 520px;
    overflow: hidden;
    width: 1280px;
    padding-top: 30px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.content .mservice .serlist .fl{
	height: 520px;
	background: #fff;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
} 
.content .mservice .serlist .fl a{
	display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content .mservice .serlist .fl .item_info{
	transition: all 0.3s ease-out 0s;
	height: 200px;
    padding-top: 60px;
    text-align: center;
}
.content .mservice .serlist .fl .item_info:after{
	position: absolute;
    content: "";
    left: 50%;
    width: 35px;
    height: 1px;
    background: rgba(0, 0, 0, .15);
    margin-left: -17px;
    top: 108px;
    transition: all 0.3s ease-out 0s;
}
.content .mservice .serlist .fl .item_info .p1{
	font-size: 20px;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    color: #595959;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
}
.content .mservice .serlist .fl .item_info .p2{
	margin-top: 25px;
    line-height: 26px;
    color: #8D8D8D;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    font-size: 13px;
    height: 50px;
    padding: 0 45px;
}
.content .mservice .serlist .fl .item_info .box{
	width: 130px;
	margin: 0 auto;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, .5);
    font-size: 32px;
    line-height: 30px;
    font-weight: lighter;
    margin-top: 60px;
    display: block;
    transition: all .7s cubic-bezier(.215, .61, .355, 1) 0s;
    color: #fff;
    opacity: 0;
}
.content  .mservice .serlist .fl:hover .item_info  .box{
	margin-top: 20px;
	opacity: 1;
}
.content .mservice .serlist .fl .item_img{
	width: 100%;
    height: 260px;
    overflow: hidden;
}
.content .mservice .serlist .fl .item_img img{
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.content .mservice .serlist .fl:hover{
	background-color: #b9ab77;
}
.content .mservice .serlist .fl:hover .item_info:after{
	background: #fff;
}
.content .mservice .serlist .fl:hover .item_info p{
	color: #fff;
}
.content .mservice .serlist .fl:hover .item_info{
	margin-top: -10px;
}
.content .mservice .serlist .fl:hover img{
	transform:scale(1.1,1.1) ;
}
.content .mservice .serlist .item1{
	width: 560px;
}
.content .mservice .serlist .item2,
.content .mservice .serlist .item3{
	width: 360px;
}
.content .mservice .serlist .item2:hover .item_img{
	margin-top: 10px;
}
/*mpage*/
.content .mpage{
	height: 900px;
}
.content .mpage .bg_img{
	background: url(../img/con08.jpg) top center no-repeat;
	height: 580px;
}
.content .mpage .page_about::before{
	content: '';
    position: absolute;
    width: 960px;
    height: 300px;
    border: 1px solid #b9ab77;
    z-index: 2;
    left: 50%;
    margin-left: -480px;
    bottom: 140px;
}
.content .mpage .page_about .box{
	width: 1000px;
    background: #fff;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 55px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    bottom: 150px;
}
.content .mpage .page_about .box .p1{
	font-size: 24px;
	font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
    line-height: 26px;
    color: #444;
    text-align: center;
}
.content .mpage .page_about .box .p2{
	font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
    line-height: 26px;
    color: #c1c1c1;
    font-size: 17px;
    text-align: center;
    font-weight: 300;
}
.content .mpage .page_about .box .txt01::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background: #b9ab77;
    left: 50%;
    margin-left: -25px;
    margin-top: 20px;
}
.content .mpage .page_about .box .txt02{
	font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
    line-height: 26px;
    width: 720px;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    color: #848484;
    margin-top: 38px;
}
.content .mpage .page_about .box .more a{
	display: block;
	width: 150px;
    height: 35px;
    margin: 0 auto;
    border: 1px solid #b9ab77;
    background-color: #b9ab77;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    line-height: 35px;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    font-family:"Times New Roman", Times, serif;
    margin-top: 40px;
    z-index: 2;
}
.content .mpage .page_about .box .more a span{
	font-size: 17px;	
    color: transparent;
    transition: all ease-out .3s;
    display: inline-block;
    text-indent: -8px;
    line-height: 37px;
}
.content .mpage .page_about .box .more a:hover{
	background-color: #fff;
    color: #b9ab77;
}
.content .mpage .page_about .box .more a:hover span{
	color: #b9ab77;
    text-indent: 8px;
}
/*mnews*/
.content .mnews{
	background-color: #353535;
	padding-bottom: 80px;
}
.content .mnews .new_top{
	padding: 90px 0 80px;
}
.content .mnews .new_top p{
	text-align: center;
}
.content .mnews .new_top .p1{
	color: #fff;
	font-size: 26px;
}
.content .mnews .new_top .p2{
	color: #c1c1c1;
	font-size: 16px;
	font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
}
.content .mnews .new_list{
	width: 1200px;
	height: 395px;
    margin: 0 auto;
    color: #929292;
    overflow: hidden;
}
.content .mnews .new_list .list{
	width: 570px;
	height: 350px;
}
.content .mnews .new_list .list .new_img{
	width: 560px;
    height: 200px;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.content .mnews .new_list .list:hover .new_img{
	margin-top: -10px;
}
.content .mnews .new_list .list .new_txt{
	margin-top: 30px;
}
.content .mnews .new_list .list .new_txt .date{
	font-size: 32px;
	color: #fff;
    font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
    line-height: 46px;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.content .mnews .new_list .list .new_txt .detail{
	width: 425px;
	transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.content .mnews .new_list .list .new_txt .detail .p1{
	font-size: 17px;
    color: #fff;
    line-height: 32px;
    height: 54px;
}
.content .mnews .new_list .list .new_txt .detail .p2{
	color: #999;
    line-height: 26px;
    font-size: 13px;
    height: 78px;
}
.content .mnews .new_list .list .new_txt .detail::after{
    content: '';
    display: block;
    width: 36px;
    height: 1px;
    background: rgba(255, 255, 255, .1);
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.content .mnews .new_list .list:hover .new_txt .detail::after{
	width: 100%;
    background: rgba(255, 255, 255, .5)
}
.content .mnews .bot_lead{
	margin-top: -20px;
}
.content .mnews .bot_lead a::before {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    border-top: 1px solid rgba(255, 255, 255, .2);
}
/*swiper-container*/
.swiper-container{
	width: 960px;
	height: 45px;
	margin: 60px auto;
	overflow: hidden;
}
.swiper-container .swiper-slide{
	width: 120px;
	height: 45px;
}
.swiper-container .swiper-slide img{
	width: 100%;
	height: 100%;
	margin: auto
}
/*.footer*/
.footer{
	background-color: #f3f3f3;
	width: 100%;
}
.footer .container{
	width: 1200px;
    margin: 0 auto;
    padding: 80px 0 68px;
}
.footer .container .foot_left{
	width: 480px;
}
.footer .container .foot_left .p1{
	color: #666;
	font-size: 26px;
}
.footer .container .foot_left .p2{
	font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
	color: #c1c1c1;
	font-size: 16px;
}
.footer .container .foot_right{
	width: 720px;
}
.footer .container .foot_right h3{
	width: 100%;
	color: #696969;
	font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
    font-weight: 100;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.footer .container .foot_right p{
	width: 350px;
    margin-top: 14px;
    color: #999;
    font-size: 12px;
    text-align: left;
}
.footer .foot_ikon{
	position: absolute;
    top: 35px;
    left: -250px;
    z-index: 2;
    margin-top: 24px;
}
.footer .foot_ikon a{
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	float: left;
	margin-right: 10px;
	text-align: center;
    border-radius: 15px;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    background-color: transparent;    
    border: 2px solid rgba(0, 0, 0, 0);
}
.footer .foot_ikon a i{
	color: #9b9b9b;
    font-size: 22px;
}
.footer .foot_ikon a:hover{
	background-color: #b9ab77;
    border: 2px solid #b9ab77;
    border-radius: 0px;
}
.footer .foot_ikon a:hover i{
	color: #fff;
}
.footer .foot_ikon::after {
    content: '关注';
    color: #696969;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    position: absolute;
    top: -56px;
    left: 0px;
}

.footer .bot_line{
	width: 100%;
	background: #fff;
    border-top: 1px solid rgba(53, 53, 53, 0.1);
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 12px;
    color: #8e8e8e;
}
.weixin,.phone{
	position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 100;
    display: none;
}
.weixin .weixin_con,
.phone .phone_con{
	width: 258px;
    height: 298px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -129px;
    margin-top: -149px;
}
.weixin .weixin_con p,
.phone .phone_con p{
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    color: #000;
}

.suspend{
	height: 120px;
    position: fixed;
    right: 10px;
    bottom: 40px;
    z-index: 99;
}
.suspend a{
	text-align: center;
	line-height: 40px;
	display: block;
    width: 38px;
    height: 39px;    
	background-color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom: none;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.suspend a:last-child{
	background-color: rgba(0,0,0,.6);
	color: #fff;
}
.suspend a i{
	font-size: 21px;
}
.suspend a:last-child i{
	font-size: 16px;
}
.suspend a:hover{
	background-color: #555;
	color: #fff;
}
.suspend a:hover:last-child{
	background: rgba(0, 0, 0, .9)
}
