@charset "utf-8";
.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	clear: both;
	content: "";
	display: block;
}

.container {
	width: 1200px;
	margin: 0 auto;
	cursor: pointer;
}

.relative {
	position: relative;
}

body {
	font-size: 12px;
	color: #666;
	min-width: 1000px;
	margin: 0;
	padding: 0;
}

.hd {
	padding: 16px 0 0;
	margin-right: 20px;
}

.hd .tw {
	width: 1000px;
	height: 36px;
}

.hd .tw .tw1 {
	padding: 0 8px;
}

.tw .cl {
	display: block;
}

.hd .tw .tw1 :hover a {
	text-decoration: none;
}


/*.hd .tw .tw1  li {
	float: right;
	_display: inline;
	background-position: -199px -55px;
	line-height: 33px;
}*/

.tw1 .line {
	height: 13px;
	width: 2px;
	margin-top: -14px;
	margin-left: -10px;
	background-color: #CCCCCC;
}

.tw1 .ttx {
	font-size: 14px;
	color: #999;
	margin-left: 20px;
}

.tw1 .ttx:hover {
	font-size: 14px;
	color: #999;
}

.ttx span {
	color: #d00000!important;
	font-weight: bold;
	padding: 0;
}

.wb {
	width: 1000px;
	height: 80px;
}

.wb0 {
	padding: 0 16px;
}


/*.wb0 .lgr span{
	font-size: 16px;
	font-weight: bold;
}*/

.wb0 .lgr {
	height: 80px;
	font-size: 16px;
	padding-top: 5px;
	padding-right: 32px;
}

.lgr h2 {
	
	margin-left: 50px;
}
.lgr :hover a{
	color: #000000;
    text-decoration: none;
}
.lgr .vtd  h2 .cbn {
	width: 20px;
	height: 15px;
	margin-left: 22px;
	margin-top: 21px;
    background: url(../imgweal/bgct_06.png) no-repeat;
}
.lgr .vtd .linet{
	position: absolute;
	height: 2px;
	width: 100px;
	top: 7px;
	left: 15px;
	background-color: #ADADAD;
}
.on h2{
	color:#AE0E16;
}
.lgr .on  h2 .cbn {
	width: 20px;
	height: 15px;
	margin-left: 22px;
	margin-top: 21px;
    background: url(../imgweal/bgct_08.png) no-repeat;
}
.lgr .on .linet{
	position: absolute;
	height: 2px;
	width: 100px;
	top: 7px;
	left: 15px;
	background-color: #ADADAD;
}
.lgr .eol  h2 .cbn {
	width: 20px;
	height: 15px;
	margin-left: 22px;
	margin-top: 21px;
    background: url(../imgweal/bgct_03.png) no-repeat;
}
.lgr .eol .linet{
	position: absolute;
	height: 2px;
	width: 100px;
	top: 7px;
	left: 15px;
	background-color: #ADADAD;
}

.lgr .eel  h2 .cbn {
	width: 20px;
	height: 15px;
	margin-left: 22px;
	margin-top: 21px;
    background: url(../imgweal/bgct_03.png) no-repeat;
}
 .arc {
/*	width: 1000px;*/
	margin-top: 28px;
}

.arc .bx {
	padding: 0 15px 0 108px;
	position: relative;
}

.bx .btt {
	padding: 0 2px;
}

.btt .h2 {
	font-size: 17px;
	color: #000000;
	padding-left: 10px;
	font-weight: bold;
}

.btt span {
	color: #666;
	font-size: 12px;
	font-weight: normal;
	font-family: Simsun, Times, "Times New Roman", serif;
}

.arc .bx .table-bg {
	width: 909px;
	height: 346px;
	margin-top: 10px;
	margin-left: 33px;
	background-color: #ebeae9;
}

.csnw {
	height: 30px;
}

.csnw span {
	color: #ce0000;
	padding: 0 5px;
	margin-left: 56px;
	margin-top: 20px;
}

.csnw .kuang {
	height: 28px;
	padding: 0 4px;
	margin-left: 15px;
	margin-top: 20px;
	line-height: 28px;
	color: #333;
	width: 270px;
}

.csnw .fg {
	background-color: #fff;
	border: 1px solid #cdbeb8;
	font-size: 14px;
	outline: 0;
}

.dst {
	height: 30px;
	margin-top: 25px;
}

.dst span {
	color: #ce0000;
	padding: 0 5px;
	margin-left: 66px;
	margin-top: 10px;
}

.dst .slt {
	margin-left: 15px;
	margin-top: 10px;
	line-height: 28px;
	height: 28px;
	width: 104px;
	margin-right: 12px;
}

.dst .erd {
	position: absolute;
	top: -17px;
	left: 123px;
	color: #d00000!important;
	font-size: 12px!important;
	line-height: 17px!important;
	height: 17px!important;
	padding: 0 4px!important;
	font-weight: bold;
}

.csnw {
	height: 30px;
}

.sxc span {
	color: #ce0000;
	padding: 0 5px;
	margin-left: 40px;
	margin-top: 20px;
}

.sxc .kuang {
	height: 28px;
	padding: 0 4px;
	margin-left: 7px;
	margin-top: 20px;
	line-height: 28px;
	color: #333;
	width: 505px;
}

.sxc .flj {
	background-color: #fff;
	border: 1px solid #cdbeb8;
	font-size: 14px;
	outline: 0;
}

.ip {
	height: 30px;
	margin-top: -5px;
}

.ip span {
	color: #ce0000;
	padding: 0 5px;
	margin-left: 67px;
	margin-top: 20px;
}

.ip .kuang {
	height: 28px;
	padding: 0 4px;
	margin-left: 15px;
	margin-top: 20px;
	line-height: 28px;
	color: #333;
	width: 270px;
}

.ip .fg {
	background-color: #fff;
	border: 1px solid #cdbeb8;
	font-size: 14px;
	outline: 0;
}

.ibtw {
	height: 20px;
	margin-left: 128px;
	margin-top: 33px;
}

.ibtw .btn {
	position: relative;
	top: 2px;
}

.ibtw span {
	float: none;
	width: auto;
	display: inline;
	/*padding-left: 5px;*/
	margin-left: 4px;
	color: #ae850a;
	cursor: pointer;
}

.swim {
	margin-top: 43px;
	padding-left: 123px;
}

.swim .si {
	width: 150px;
	height: 42px;
	font-size: 14px;
	margin-right: 20px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #ad0000;
	padding: 0 30px;
	background-position: center 0;
	background-color: #ad0000;
	cursor: pointer;
}

.bing {
	width: 974px;
	margin: 15px auto 0 auto;
}

.bing .yz-bg {
	width: 909px;
	height: 255px;
	margin-top: 15px;
	margin-left: 33px;
	background-color: #ebeae9;
}

.ipp span {
	padding: 0 5px;
	margin-left: 70px;
	margin-top: 28px;
}

.ipp .kuang {
	height: 28px;
	padding: 0 4px;
	margin-left: 15px;
	margin-top: 20px;
	line-height: 28px;
	color: #333;
	width: 270px;
}

.ipp .fg {
	background-color: #fff;
	border: 1px solid #cdbeb8;
	font-size: 14px;
	outline: 0;
}

.txm .tp {
	position: absolute;
	top: 23px;
	left: 322px;
}

.txm span {
	padding: 0 5px;
	margin-left: 58px;
	margin-top: 28px;
}

.txm .kuang {
	height: 28px;
	padding: 0 4px;
	margin-left: 15px;
	margin-top: 20px;
	line-height: 28px;
	color: #333;
	width: 270px;
}

.txm .fgg {
	background-color: #fff;
	border: 1px solid #cdbeb8;
	font-size: 14px;
	outline: 0;
}

.zmy {
	height: 20px;
}

.zmy span {
	padding: 0 5px;
	margin-left: 58px;
	margin-top: 28px;
}

.zmy .zmk {
	height: 28px;
	padding: 0 4px;
	margin-left: 15px;
	margin-top: 20px;
	line-height: 28px;
	color: #333;
	width: 160px;
}

.zmy .fga {
	background-color: #fff;
	border: 1px solid #cdbeb8;
	font-size: 14px;
	outline: 0;
}

.zmy .btn-one {
	width: 88px;
	margin-left: 10px;
	border: 1px solid #cdbeb8;
	background: #fff;
	height: 30px;
	line-height: 29px;
	cursor: pointer;
}

.qlist {
	width: 1000px;
	height: 587px;
	margin-left: 10px;
}

.qlist .qbx {
	height: 10px;
	margin-top: 23px;
	margin-left: 125px;
	padding: 0 2px;
}

.qlist .q-text {
	line-height: 16px;
	font-size: 14px;
	height: 16px;
	margin-bottom: 19px;
	font-weight: normal;
	color: #666;
}

.cartbox {
	width: 921px;
	margin-top: 23px;
	margin-left: 126px;
}

.trans5 {
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.cartbox table {
	text-align: center;
	width: 100%;
}
.cartbox tr span:hover a{
	text-decoration: none;
}
.cartbox table th,
.cartbox table td {
	border: 1px solid #E2F2FF;
}

.cartbox table th {
	text-align: center;
	background: #F2F2F2;
	border-top: 3px solid #f2f2f2;
	height: 30px;
}

.cartbox table td {
	padding: 10px;
	color: #444;
}

.cartbox table tbody tr:hover {
	background: f3efe7;
}

.checkbox {
	width: 60px;
}

.check-all {
	vertical-align: middle;
}

.goods {
	width: 300px;
}

.goods span {
	width: 180px;
	margin-top: 20px;
	text-align: left;
	float: left;
}

.goods img {
	width: 100px;
	height: 80px;
	margin-right: 10px;
	float: left;
}

.price {
	width: 130px;
	
}
.price span{color: #FF0000;}
 
.count {

	width: 90px;
}

.count .add,
.count input,
.count .reduce {
	float: left;
	margin-right: -1px;
	position: relative;
	z-index: 0;
}

.count .add,
.count .reduce {
	height: 20px;
	width: 17px;
	border: 1px solid #e5e5e5;
	background: #f0f0f0;
	text-align: center;
	line-height: 23px;
	color: #444;
}

.count .add:hover,
.count .reduce:hover {
	color: #f50;
	z-index: 3;
	border-color: #f60;
	cursor: pointer;
}

.count input {
	width: 50px;
	height: 12px;
	line-height: 15px;
	border: 1px solid #aaa;
	color: #343434;
	text-align: center;
	padding: 4px 0;
	background-color: #fff;
	z-index: 2;
}

.subtotal {
	width: 150px;
	color: #FF0000;
}

.subtotal .sptxt {
	color: #FF0000;
	font-weight: bold;
}

.operation span:hover,
a:hover {
	cursor: pointer;
	color: red;
	text-decoration: underline;
}

.foot {
	margin-top: 0px;
	color: #666;
	height: 48px;
	border: 1px solid #c8c8c8;
	border-top: 0;
	background-color: #eaeaea;
	background-image: linear-gradient(RGB(241, 241, 241), RGB(226, 226, 226));
	position: relative;
	z-index: 8;
}

.foot div,
.foot a {
	line-height: 48px;
	height: 48px;
}

.foot .select-all {
	width: 80px;
	height: 48px;
	line-height: 48px;
	color: #666;
	text-align: center;
}

.foot .delete {
	padding-left: 10px;
}

.foot .closing {
	border-left: 1px solid #c8c8c8;
	width: 103px;
	text-align: center;
	color: #666;
	font-weight: bold;
	cursor: pointer;
	background-color: #000000;
	background-image: linear-gradient(RGB(241, 241, 241), RGB(226, 226, 226));
}

.foot .closing:hover {
	background-image: linear-gradient(RGB(226, 226, 226), RGB(241, 241, 241));
	color: #333;
}

.foot .total {
	margin: 0 20px;
	cursor: pointer;
}

.foot #priceTotal,
.foot #selectedTotal {
	color: red;
	font-family: "Microsoft Yahei";
	font-weight: bold;
}

.foot .selected {
	cursor: pointer;
}

.foot .selected .arrow {
	position: relative;
	top: -3px;
	margin-left: 3px;
}

.foot .selected .down {
	position: relative;
	top: 3px;
	display: none;
}

.show .selected .down {
	display: inline;
}

.show .selected .up {
	display: none;
}

.foot .selected:hover .arrow {
	color: red;
}

.foot .selected-view {
	width: 938px;
	border: 1px solid #c8c8c8;
	position: absolute;
	height: auto;
	background: #ffffff;
	z-index: 9;
	bottom: 48px;
	left: -1px;
	display: none;
}

.show .selected-view {
	display: block;
}

.foot .selected-view div {
	height: auto;
}

.foot .selected-view .arrow {
	font-size: 16px;
	line-height: 100%;
	color: #c8c8c8;
	position: absolute;
	right: 330px;
	bottom: -9px;
}

.foot .selected-view .arrow span {
	color: #ffffff;
	position: absolute;
	left: 0px;
	bottom: 1px;
}

#selectedViewList {
	padding: 10px 20px 10px 20px;
}

#selectedViewList div {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 80px;
	border: 1px solid #ccc;
	margin: 10px;
	float: left;
}

#selectedViewList div img {
	width: 100px;
	height: 80px;
	margin-right: 10px;
	float: left;
}

#selectedViewList div span {
	display: none;
	color: #ffffff;
	opacity: 0.5;
	font-size: 12px;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	background: #000;
	cursor: pointer;
}

#selectedViewList div:hover span {
	display: block;
}

.topbx {
	width: 1000px;
	height: 500;
	margin: 0 auto;
	clear: both;
	background-color: #fff;
	overflow: hidden;
	padding: 54px 100px 50px;
}

.topbx .table-top {
	width: 920px;
	border-top: 4px solid #ebebeb;
	margin-left: 21px;
	margin-top: 18px;
}

.table-top .dt {
	width: 225px;
	height: 113px;
	margin-top: 10px;
	margin: 0 auto;
}

.table-top .texttp {
	width: 140px;
	height: 25px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: #000000;
}

.table-top td {
	height: 30px;
	text-align: center;
}

.texttp {
	width: 140px;
	height: 25px;
	font-size: 14px;
	text-align: center;
	color: #E5E5E5;
}

.table-top th,
td {
	border-right: 1px dashed #e4e4e4;
}

.topbx .table-top :hover a {
	color: #000000;
	text-decoration: none;
}

/*表单验证*/
/*==========以下部分是Validform必须的===========*/
.Validform_checktip {
	margin-left: 8px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #999;
	font-size: 12px;
}

.Validform_right {
	color: #71b83d;
	padding-left: 20px;
	/*background: url(../images/right.png) no-repeat left center;*/
}

.Validform_wrong {
	color: red;
	padding-left: 20px;
	white-space: nowrap;
	/*background: url(../images/error.png) no-repeat left center;*/
}

.Validform_loading {
	padding-left: 20px;
	/*background: url(../images/onLoad.gif) no-repeat left center;*/
}

.Validform_error {
	background-color: #ffe7e7;
}

#Validform_msg {
	color: #7d8289;
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
	width: 280px;
	-webkit-box-shadow: 2px 2px 3px #aaa;
	-moz-box-shadow: 2px 2px 3px #aaa;
	background: #fff;
	position: absolute;
	top: 0px;
	right: 50px;
	z-index: 99999;
	display: none;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}

#Validform_msg .iframe {
	position: absolute;
	left: 0px;
	top: -1px;
	z-index: -1;
}

#Validform_msg .Validform_title {
	line-height: 25px;
	height: 25px;
	text-align: left;
	font-weight: bold;
	padding: 0 8px;
	color: #fff;
	position: relative;
	background-color: #000;
}

#Validform_msg a.Validform_close:link,
#Validform_msg a.Validform_close:visited {
	line-height: 22px;
	position: absolute;
	right: 8px;
	top: 0px;
	color: #fff;
	text-decoration: none;
}

#Validform_msg a.Validform_close:hover {
	color: #cc0;
}

#Validform_msg .Validform_info {
	padding: 8px;
	border: 1px solid #000;
	border-top: none;
	text-align: left;
}

/*bot_contain*/
.header .bot_contain{
	margin-top: 20px;
	z-index: 10;
}
.header .bot_contain .all_list{
	width: 145px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
    background-color: #b32424;
    cursor: pointer;
    text-align: center;
    margin-left: 120px;
}
.header .bot_contain .all_list .ikon_all{
	background-position: -297px 0;
    width: 14px;
    height: 14px;
    margin: 0 8px 0 60px;
}
.header .bot_contain ul li{
	width: 116px;
	height: 38px;
	margin: 0 10px;
	text-align: center;
	font-size: 15px;
    color: #666;
    line-height: 42px;
    font-weight: bold;
}
.header .bot_contain ul a:hover li{
	border-bottom: 4px solid #b32424;
}
/*footer*/

.footer .foot_bot{
	width: 100%;
	border-top: 1px solid #ddd;
	margin-left: -57px;
	margin-top: 190px;
}
.footer .foot_bot .bot01{
	
	padding-top: 25px;
    text-align: center;
    line-height: 20px;
}
.footer .foot_bot .bot01 a{
	color: #666;
    margin: 0 10px;
}
.footer .foot_bot .bot01 a:hover {
    color: #000
}
.footer .foot_bot .bot02{
	margin-top: 30px;
    text-align: center;
}
.footer .foot_bot .bot02 p{
	color: #999;
    margin-bottom: 10px;
}
.footer .foot_bot .bot03{
	margin-top: 30px;
    text-align: center;
}
.footer .foot_bot .bot03 a{
	display: inline-block;
    margin: 0 10px;
}
