.left{
	float: left;
}
.right{
	float: right;
}
.relative{
	position: relative;
}

em {
	font-style: normal
}
li {
	list-style: none
}
.container{
	width: 1200px;
	margin: 0 auto;
}

.banner {
	height: 429px;

	background: url(../imgweal/11.jpg);
	background-position: top center;
	/*position: relative*/
}
.banner_logo{
	
	height:429px;
	
}

.qqg_main {
	margin:-95px auto 0;
	position: relative;
}
.special{
	border-bottom: 4px solid #b32424;
}
.qqg_main .about_qqg {
	overflow: hidden;
	height: 441px
}

.qqg_main .what {
	width: 720px;
	height: 441px;
	float: left;
	background: url(../imgweal/ab_bg_01.png) no-repeat;
	overflow: hidden
}

.qqg_main .what h3,
.qqg_main .about_qqg .about_right h3 {
	width: 170px;
	height: 55px;
	background: #000;
	line-height: 55px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	margin-top: 20px
}

.maqqg_mainin .what p {
	float: left;
	font-size: 14px;
	color: #666;
	margin-top: 7px;
	line-height: 14px
}

.qqg_main .what p {
	width: 640px;
	margin: 200px auto 0 auto;
	font-size: 14px;
	color: #fff;
	line-height: 28px
}

.qqg_main .what p span {
	display: block;
	margin-top: 10px
}

.qqg_main .about_qqg .about_right {
	width: 474px;
	height: 441px;
	float: right;
	background: url(../imgweal/ab_bg_02.png) no-repeat;
}

.qqg_main .about_qqg .about_right ul {
	overflow: hidden
}

.qqg_main .about_qqg .about_right ul li {
	width: 237px;
	height: 142px;
	line-height: 142px;
	display: block;
	float: left;
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-bottom: 27px
}

.qqg_main .shop {
	margin-top: 20px
}

.qqg_main .shop h4,
.qqg_main .host_service h4,
.qqg_main .more_surp h4 {
	line-height: 60px;
	font-size: 20px;
	color: #666
}

.host_service .none {
	margin-right: 10px;
}

.qqg_main .host_service {
	width: 1260px;
}

.qqg_main .more_surp {
	margin-top: 40px
}

.qqg_main .shop h4 span,
.qqg_main .host_service h4 span {
	float: right;
	padding-right: 6px;
	font-size: 14px;
	color: #000;
	padding-top: 15px
}

.shop .vvn {
	width: 1200px;

}
.shop .vvn .img{
	opacity:0.9;
}
.shop .vvn .img:hover{
	opacity: 1;
}
.shop .vvn h5:hover{
	color: #FF0000;
}
.shop .news_date {
	position: absolute;
	top: 19px;
	left: 0;
	z-index: 10;
	width: 170px;
	height: 58px;
	background-color: rgba(255, 150, 0, 0.75);
	text-align: center;
	color: #FFFFFF;
}

.news_date .day {
	font-size: 17px;
	padding-top: 15px;
}

.news_date .month {
	font-size: 12px;
	/*padding-top: 12px;*/
}

.qqg_main .shop ul {
	overflow: hidden
}
..shop .shouq{
	height: 300px;
	background-color: #D7DDEA;
}
.qqg_main .shop ul li {
	float: left;
	margin-right: 13px;
	display: block;
	width: 280px
}

.qqg_main .shop ul li div.img {
	width: 280px;
	height: 180px;
	position: relative;
	overflow: hidden
}

.qqg_main .shop ul li img {
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%)
}

.qqg_main .shop ul li a {
	color: #666;
	text-align: center
}

.qqg_main .shop ul li h5 {
	font-size: 16px;
	margin-top: 28px;
	line-height: 16px
}

.qqg_main .shop ul li dl {
	padding-bottom: 48px
}

.qqg_main .shop ul li p {
	font-size: 14px;
	height: 16px;
	margin-top: 8px;
	line-height: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.qqg_main .shop ul li p,
.qqg_main .shop ul li h5 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.qqg_main .shop ul .none {
	float: left;
	margin-right: 0
}

.bx-pager {
	bottom: 80px
}

.qqg_main .host_service ul {
	overflow: hidden
}

.qqg_main .host_service ul li {
	float: left;
	margin-right: 5px;
	margin-top: 13px;
	width: 290px;
	height: 140px
}

.qqg_main .host_service ul .none {
	float: left;
	margin-right: 0
}

.more_surp .more_img .loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	margin-top: 100px;
	/*background-color: #E0E0E0;*/
 background:url(../imgweal/jf_06.png)no-repeat;
	position: relative;
}
.more_img img{
	width: 1170px;
	height: 400px;
}
.loading span {
	width: 120px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../imgweal/logo-ico.jpg);
	margin-top: -15px;
	overflow: hidden;
	-webkit-animation: changePosition 2.08s linear infinite;
}

@-webkit-keyframes changePosition {
	0%,
	100% {
		-webkit-transform: translate(1000px);
	}
	20% {
		width: 50px;
		height: 30px;
		margin-top: -15px;
		-webkit-transform: translate(1000px);
	}
	30% {
		width: 20px;
		height: 60px;
		margin-top: -30px;
		-webkit-transform: translate(1000px);
	}
	35% {
		width: 50px;
		height: 30px;
		margin-top: -15px;
		-webkit-transform: translate(1000px);
		background: lightblue;
	}
	70% {
		width: 50px;
		height: 30px;
		margin-top: -15px;
		-webkit-transform: translate(1000px);
	}
	80% {
		width: 20px;
		height: 60px;
		margin-top: -30px;
		-webkit-transform: translate(1000px);
	}
	85% {
		width: 50px;
		height: 30px;
		margin-top: -15px;
		-webkit-transform: translate(1000px);
		background: lightgreen;
	}
}
.trans3 {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.trans5 {
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}


.qqg_main .host_service li img:hover  {
	
	
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}
/*.qqg_main .shop li{
	    float: left;
    width: 267px;
    height: 337px;
    margin-right: 10px;
    background-color: #000000;
}
}
.qqg_main .shop li:hover{
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}*/
.suspend{
	position: fixed;
	z-index: 100;
    bottom: 55px;
    right: 0;
}
.suspend a{
    display: block;
    margin-bottom: 2px;
    position: relative;
    color: #333;
}
.suspend a .ikon_sus{
	background-image: url(../imgweal/head_spilt2.png);
	display: block;
	margin: 0 auto;
}
.suspend a .sus_left{
	background-color: #fff;
    border: 1px solid #ddd;
    border-right: 0;
    text-align: center;
    position: absolute;
    right: 48px;
    top: 0;
	width: 100px;
    height: 45px;
    line-height: 45px;
    color: #333;
    font-size: 14px;
    display: none;
}
.suspend a .sus_right{
	width: 48px;
    padding: 13px 0;
	text-align: center;
    background-color: #eee;
}
.suspend a .sus_right .suspend01{
    width: 21px;
    height: 21px;
    background-position: -118px 0;
}
.suspend a .sus_right .suspend02{
    width: 21px;
    height: 21px;
    background-position: -72px 0;
}
.suspend a .sus_right .suspend03{
    width: 18px;
    height: 18px;
    background-position: -53px 0;
}
.suspend a:nth-child(1):hover .suspend01{
	background-position: -282px 0;
}
.suspend a:nth-child(2):hover .suspend02{
	background-position: -235px 0;
}
.suspend a:nth-child(3):hover .suspend03{
	background-position: -212px 0;
}
/*头部*/
.header{
	width: 100%;
}
/*最顶部注册栏*/
.header .top_contain{
	width: 100%;
	height: 14px;
	background-color: #333;
	padding: 7px 0;	
	z-index: 10;
}
.header .top_contain .container{
	
}
.header .top_contain li{
	border-right: 1px solid #ccbeb8;
	color: #ccbeb8;
	padding: 0 10px;
	font-size: 12px;
}
.header .top_contain a:nth-child(6) li{
	color: #d9c398;
}
.header .top_contain a:hover li{
	color: #fff;
}
/*手机万表*/
.header .top_contain .phone_watch{
	position: absolute;
	top: 25px;
	width: 120px;
	padding: 10px;
	display: none;
	
}
.header .top_contain .phone_watch .img img{
	widows: 100px;
	height: 100px;
}
.header .top_contain .phone_watch .txt{
	width: 100px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	background-color: #332e2e;
	cursor: pointer;
}
/*.header .mid_contain*/
.header .mid_contain{
	margin-top: 15px;
}
/*雪碧图*/
.header .ikon1{
	display: inline-block;
	background: url(../imgweal/head_spilt.png);
}
.header .mid_contain .ikon2{
	display: inline-block;
	background: url(../imgweal/head_spilt2.png);
}
/*logo*/
.header .mid_contain .ikon_logo{
	margin: 0 15px 0 50px;
	width: 112px;
	height: 75px;
	background-position: 0 -10px;
}
/*购物车*/
.header .mid_contain .shop_car{
    width: 180px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
	font-size: 14px;
    color: #666;
    margin: 15px 0 0 15px;
}
.header .mid_contain .shop_car .ikon_car{
	margin: 7px 10px 0 50px;
	width: 21px;
	height: 21px;
	background-position: -118px 0;
}
/*搜索框*/
.header .mid_contain .search{
	margin-top: 15px;
	border: 1px solid #ddd;
    border-radius: 3px;
    width: 360px;
    height: 36px;
}
.header .mid_contain .search .ikon_search{
	margin: 7px 10px 0 10px;
	width: 16px;
	height: 21px;
	background-position: 0 0;
}
.header .mid_contain .search input{
	width: 310px;
    height: 36px;
    border:0;
    font-size: 14px;
    color: #999;
    outline: none;
}
.header .mid_contain .search button{
	width: 80px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 2px;
    color: #fff;
    font-size: 14px;
    border: 0;
    background: #b32424;
    border-radius: 3px;
}
/*bot_contain*/
.header .bot_contain{
	margin-top: 20px;
	z-index: 10;
}
.header .bot_contain .all_list{
	width: 210px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
    background-color: #b32424;
    cursor: pointer;
}
.header .bot_contain .all_list .ikon_all{
	background-position: -297px 0;
    width: 14px;
    height: 14px;
    margin: 0 8px 0 60px;
}
.header .bot_contain ul li{
	width: 105px;
	height: 38px;
	margin: 0 30px;
	text-align: center;
	font-size: 15px;
    color: #666;
    line-height: 42px;
    font-weight: bold;
}
.header .bot_contain ul a:hover li{
	border-bottom: 4px solid #b32424;
}
/*footer*/
/*红底*/
.footer .red_line{
	width: 100%;
	height: 60px;
    background-color: #ae0e16;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.footer .red_line .container .a{
	width: 240px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 14px;
    float: left;
}
.footer .red_line a .ikon_red{
	display: inline-block;
	background-image: url(../imgweal/head_spilt2.png);
	width: 34px;
    height: 34px;
    vertical-align: middle;
    margin-right: 8px;
}
.footer .red_line a .red01{
	background-position: -53px -25px;
}
.footer .red_line a .red02{
	background-position: -88px -25px;
}
.footer .red_line a .red03{
	background-position: -159px -25px;
}
.footer .red_line a .red04{
	background-position: -124px -25px;
}
.footer .red_line a .red05{
	background-position: -196px -25px;
}
/*客服电话*/
.footer .foot_mid{
    padding: 60px 0;
    border-bottom: 1px solid #ddd;
}
.footer .foot_mid .con_left p{
	text-align: center;
    line-height: 30px;
}
.footer .foot_mid .con_left .p1{
	font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding-bottom: 8px;
    color: #333;
}
.footer .foot_mid .con_left .p2{
	color: #333;
	font-size: 30px;
}
.footer .foot_mid .con_left .p3{
	font-size: 12px;
    color: #999;
}
.footer .foot_mid .con_left .p4 a{
	color: #b22424;
    border: 1px solid #b32424;
    border-radius: 5px;
    padding: 8px 21px;
    margin: 0 5px;
    display: inline-block;
    margin-top: 20px;
    line-height: 1.5;
}
.footer .foot_mid .con_mid{
	margin-left: 60px;
}
.footer .foot_mid .con_mid dl{
	width: 98px;
    float: left;
}
.footer .foot_mid .con_mid dl dt{
	color: #333;
    font-weight: bold;
    font-size: 14px;
}
.footer .foot_mid .con_mid dl dd{
	margin-top: 30px;
}
.footer .foot_mid .con_mid dl dd a{
	width: 100%;
    color: #666;
    display: block;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.footer .foot_mid .con_mid dl dd a:hover {
    color: #000
}
.footer .foot_mid .con_code{
	width: 208px;
    margin-top: -10px;
    border-left: 1px solid #ddd;
}
.footer .foot_mid .code02{
	border-right: 1px solid #ddd;
}
.footer .foot_mid .con_code .code_head{
	margin-left: 10px;
}
.footer .foot_mid .con_code .code_head li{
	width: 95px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #666;
    display: block;
    background: #ddd;
    cursor: pointer;
}
.footer .foot_mid .con_code .code_head .code_in{
    color: #fff;
    background: #666;
}
.footer .foot_mid .con_code .code_img{
	display: none;
}
.footer .foot_mid .con_code .display{
	display: block;
}
.footer .foot_mid .con_code .code_img .p1{
	width: 93px;
    margin: 11px auto 8px auto;
}
.footer .foot_mid .con_code .code_img img{
	width: 100%;
}
.footer .foot_mid .con_code .code_img .p2{
	text-align: center;
    color: #666;
    display: block;
}
.footer .foot_bot{
	width: 100%;
	border-top: 1px solid #ddd;
}
.footer .foot_bot .bot01{
	padding-top: 25px;
    text-align: center;
    line-height: 20px;
}
.footer .foot_bot .bot01 a{
	color: #666;
    margin: 0 10px;
}
.footer .foot_bot .bot01 a:hover {
    color: #000
}
.footer .foot_bot .bot02{
	margin-top: 30px;
    text-align: center;
}
.footer .foot_bot .bot02 p{
	color: #999;
    margin-bottom: 10px;
}
.footer .foot_bot .bot03{
	margin-top: 30px;
    text-align: center;
}
.footer .foot_bot .bot03 a{
	display: inline-block;
    margin: 0 10px;
}
